<!DOCTYPE html>
<html>

<head>
    <title>
        Quickly Check Your Bus - Gdynia
    </title>
    <style>
        .trip_table {
            border: 2px solid rgb(55, 142, 212);
            width: 400px;
            border-collapse: collapse;
        }

        .trip_table td,
        .trip_table th {
            border: 1px solid rgb(55, 142, 212);
            padding: 8px;
        }

        .trip_table td:first-child,
        .trip_table th:first-child {
            width: 75px;
        }
    </style>
</head>

<body>
    <h1>
        Rozkład Jazdy
    </h1>
    <form method="POST" action="/">
        <label for="selected_stop">Wybierz przystanek:</label>
        <select id="selected_stop" name="selected_stop">
            {% for stop_name in stops %}
            <option value="{{ stop_name }}">{{ stop_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Pokaż rozkład</button>
    </form>
    <ul>
        {% for entry in result %}
        <div>
            {% if entry|length == 4 %}
            <table class="trip_table">
                <tr>
                    <td rowspan="5">
                        Linia <br>
                        {{entry.linia}}
                    </td>
                    <td>
                        Kierunek
                    </td>
                </tr>
                <tr>
                    <td>
                        {{entry.kierunek}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{entry.status}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Planowany Odjazd
                    </td>
                </tr>
                <tr>
                    <td>
                        {{entry.planowany_odjazd}}
                    </td>
                </tr>
            </table>
            <br>
            {% else %}
            <table class="trip_table">
                <tr>
                    <td rowspan="9">
                        Linia <br>
                        {{entry.linia}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Kierunek
                    </td>
                </tr>
                <tr>
                    <td>
                        {{entry.kierunek}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Planowany Odjazd
                    </td>
                </tr>
                <tr>
                    <td>
                        {{entry.planowany_odjazd}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Rzeczywisty Czas Odjazdu
                    </td>
                </tr>
                <tr>
                    <td>
                        {{entry.rzeczywisty_czas_odjazdu}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Numer boczny pojazdu
                    </td>
                </tr>
                <tr>
                    <td>
                        {{entry.numer_boczny_pojazdu}}
                    </td>
                </tr>
            </table>
            <br>
            {% endif %}
        </div>
        {% endfor %}
    </ul>
</body>

</html>